@media screen and (min-width: 1000px) {

    #content {
        margin: 0 auto;
        max-width: 1600px;
    }


    footer {
        grid-template-columns: 33.5% 66.5%;
        grid-template-rows: unset;
    }

    footer p {
        grid-column: 1/2;
        grid-row: unset;
    }

    #lastModified {
        grid-column: 1/2;
        grid-row: unset;
    }

    #footer-links {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    section {
        max-width: 45%;
    }
}

