import:https:fonts.google.com/specimen/Spicy+Rice                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
body, h1, h2, p, ul, li, img, nav {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}

header {
    background: #333;
    color: #09704e;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #154564;
    text-decoration: none;
}

main {
    margin: 20px 0;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

