* Reset */
* {
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: "Cousine", monospace;
}

/* Globals */
html {
    background-color:white;
}

h1 {
    color: #fff;
    font-family: "Lora", serif;
    font-size: 2em;
    padding: 20px;
    line-height: 41px;
}

h2 {
    font-family: "Lora", serif;
    padding: 1em 0;
    text-align: center;
    line-height: 31px;
}

/* Header */
header {
    background-color: #1e5d5f;
}

#menu {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 1.5rem;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 22px;
    height: 32px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.nav a {
    background-color: #05292b;
    color: #fff;
    display: none;
    font-size: 1.4em;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.nav a:hover {
    background-color: #003f37;
    box-shadow: 1px 1px #003f37, -1px -1px #003f37, 1px -1px #003f37, -1px 1px #003f37;
    text-shadow: 2px 2px #7f9f9b;
}

.nav a.active {
    background-color: #58a1a3;
    color: #000;
}

.nav a.active:hover {
    box-shadow: unset;
    text-shadow: #1e5d5f 1px 1px;
}

.open a {
    display: block;
}

/* Main */
main {
    background-color: #f5f5dc;
    margin: 0 auto;
    max-width: 1000px;
}

#temple-album {
    display: grid;
    gap: 2em 16px;
    grid-template-columns: 1fr;
    overflow: hidden;
}

figure {
    display: grid;
    background-color: #e1e1c8;
    box-shadow: 1px 1px 2px #cdcdb4, -1px -1px 2px #cdcdb4, -1px 1px 2px #cdcdb4, 1px -1px 2px #cdcdb4;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px #0000004f, -1px -1px 10px #0000004f, -1px 1px 10px #0000003f, 1px -1px 10px #0000004f;
    margin-top: 0.75em;
}

h3 {
    font-size: 1.5em;
    height: 32px;
    text-align: center;
    font-family: "Lora", serif;
}

figcaption {
    color: #1e5d5f;
    font-size: 0.75em;
    min-height: 17.266px;
    text-align: center;
}

figcaption span {
    color: #000;
    word-spacing: -0.25em;
}
    
footer {
    background-color:#1e5d5f ;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
/* templescard css*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
