/* place.css */

/* General styles */
:root {
    --primary-color: #007847; /* Green */
    --secondary-color: #ffb612; /* Yellow */
    --accent-color: #de3831; /* Red */
    --background-color: #f4f4f4; /* Light Gray */
    --text-color: #333;
    --white: #ffffff;
    --black: #000000;
    --blue: #002395; /* Blue */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header styles */
header {
    background: var(--primary-color);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    position: relative;
}

/* Hero section styles */
.hero {
    text-align: center;
    margin: 1rem 0;
}

.hero img {
    width: 100%;
    height: auto;
}

/* Information section styles */
.info {
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    margin: 1rem;
    border-radius: 8px;
}

.info h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info ul li {
    margin:  0;
    padding: 0.5rem;
    border-bottom: none;
}

.info ul li:last-child {
    border-bottom: none;
}

/* Weather section styles */
.weather {
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    margin: 1rem;
    border-radius: 8px;
    position: relative;
}

.weather h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.weather::after {
    content: "⛅"; /* Weather icon for large view */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    display: none; /* Hidden by default, shown in large view */
}

.weather ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.weather ul li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: none;
}

.weather ul li:last-child {
    border-bottom: none;
}

/* Content section styles */
.content {
    padding: 5rem;
}

.content h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.content p {
    text-align: justify;
}

/* Footer styles */
footer {
    background: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (min-width: 768px) {
    .hero img {
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .weather .weather-icon {
        display: block;
    }

    .weather::after {
        display: block;
    }

    .info, .weather, .content {
        margin: 2rem auto;
        max-width: 800px;
    }
}


