/* Global styles */
:root {
    --primary-color: #bbc71a;
    --secondary-color: #181010;
    --text-color: #095a07;
    --hover-color: #555;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    color: rgb(14, 172, 22);
    text-decoration: none;
    padding: 0.5rem;
}

nav ul li a:hover {
    background-color: green);
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

footer {
    background: var(purple);
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Show the menu when hamburger is clicked */
.show {
    display: flex;
}

