/* Larger screen styling */
@media (min-width: 800px) {
    header .hamburger {
        display: none; /* Hide hamburger menu on larger screens */
    }

    header .nav-menu {
        display: flex; /* Show menu by default on larger screens */
        flex-direction: row; /* Arrange items horizontally */
        justify-content: center;
        width: 100%;
    }

    header .nav-menu li {
        margin: 0 1rem; /* Add space between menu items */
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    figure {
        margin: 0;
    }

    footer {
        position: static;
    }
}




