/* Larger screen styling */
@media (min-width: 800px) {
    header .hamburger {
        display: none; /* Hide hamburger menu on larger screens */
    }

    nav ul{
        flex-direction: row;
        justify-content: flex-end;
    }

    nav a {
        flex: 1 1 100%;
    }

    nav ul li {
        margin: 0 1rem;

    main {
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    figure {
        margin: 0;
    }

    footer {
        position: static;
    }
}




